h1 {
  margin-bottom:20px;  # 一级标题底边距为20px
}

h2 {
  font-size:20pt;      # 二级标题的字体大小为20pt
  margin-top:40px;     # 二级标题顶边距为40px
  margin-bottom:20px;  # 二级标题底边距为20px
}

h3 {
  font-size:17pt;      # 二级标题的字体大小为17pt
  margin-top:25px;     # 二级标题顶边距为25px
  margin-bottom:20px;  # 二级标题底边距为20px
}

p {
  font-family:"Arial","Microsoft YaHei","黑体","宋体","sans-serif"; # 段落的字体
  font-size:13pt;      # 段落字体的大小
  line-height:200%;    # 段落行间距
}

ul {
  line-height:200%;  # 无序列表行间距
}